@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');

html {
  font-size: 14px;
}

@screen md {
  html {
    font-size: 18px;
  }
}
